// Responsive Stylesheets for 1100px
@media screen and (max-width: 1100px){
    #page-wrap{
        .container-box{
            .content-box{
                .our-services-article{
                    .carousel-1{
                        width: 100%;
                        #carouselExampleControls{
                            width: 900px;
                            height: 500px;
                            .carousel-inner{
                                .carousel-item{
                                    .content-slider{
                                        .services{
                                            .list-services{
                                                width: 350px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .carousel-control-prev{
                            left: 20px;
                        }
                        .carousel-control-next{
                            right: 20px;
                        }
                    }
                }
            }
        }
    }
}
// Responsive Stylesheet for 1024px
@media screen and (max-width: 1024px){
    #page-wrap{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
        .nav-side{
            box-sizing: border-box;
            width: 100%;
            height: 90px;
            z-index: 1001;
            position: relative;
            #aside{
                background: $darkgrey;
                .logo{
                    background: $darkgrey;
                    width: 100%;
                    height: 90px;
                    padding: 20px;
                    position: relative;
                    #logo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 90px;
                        height: 100%;
                        z-index: 1000;
                        top: 0;
                    }
                    .burger{
                        display: flex;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                .navbar-menu{
                    width: 100%;
                    height: 90px;
                    position: absolute;
                    top: -10px;
                    left: 0;
                    right: 0;
                    display: flex;
                    flex-direction: row;
                    background: $darkgrey;
                    z-index: -1000;
                    @include transition(.5s all ease-in-out);
                    .menu{
                        width: 100%;
                        display: flex;
                        .box{
                            width: 20%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .container-box{
            box-sizing: border-box;
            .content-box{
                padding: 90px 0 0 0;
                .home-article{
                    width: 100%;
                    height: 100%;
                    margin: -40px 0 0 0;
                    .home-content{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .title{
                            h2{
                                font-size: 32px;
                                margin-bottom: 10px;
                            }
                            h1{
                                font-size: 60px;
                                margin: 5px 0 10px 0;
                            }
                        }
                        .paraghraph{
                            width: 100%;
                            margin: 0 0 20px 0;
                        }
                        .our-clients{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            h3{
                                font-size: 28px;
                            }
                            .logo-client{
                                width: 200px;
                                flex-wrap: wrap;
                                .logo-box{
                                    margin: 10px;
                                }
                            }
                        }
                    }
                }
                .our-services-article{
                    width: 100%;
                    height: 100%;
                    padding: 30px 0 0 0;
                    h2{
                        text-align: center;
                        font-size: 32px;
                        margin-bottom: 10px;
                    }
                    .carousel-1{
                        display: none;
                    }
                    .services-mobile{
                        display: block;
                        width: 100%;
                        height: 100%;
                        .content-slider{
                            .services{
                                .list-services{
                                    width: 400px;
                                    .info-services{
                                        h3{
                                            font-size: 20px;
                                        }
                                        p{
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .our-works-article{
                    width: 100%;
                    height: 100%;
                    padding: 0 0 0 0;
                    h2{
                        text-align: center;
                        font-size: 32px;
                        margin-bottom: 10px;
                    }
                    .gallery{
                        height: 100%;
                    }
                    
                }
                .our-team-article{
                    width: 100%;
                    height: 100%;
                    padding: 0 0 0 0;
                    h2{
                        text-align: center;
                        font-size: 32px;
                        margin-bottom: 10px;
                    }
                    .people{
                        width: 100%;
                        height: 100%;
                        padding: 0;
                    }
                }
                .contact-article{
                    width: 100%;
                    height: 100%;
                    padding: 0 0 0 0;
                    h2{
                        text-align: center;
                        font-size: 32px;
                        margin-bottom: 10px;
                    }
                    .contact-box{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .vertical-line{
                            margin: 20px 0;
                            width: 95%;
                            height: 0;
                            border: 1px solid $pink;
                        }
                        .address{
                            text-align: center;
                            .address-list{
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                margin: 0;
                                .icon-services{
                                    margin: 0 0 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-open{
        top: 90px !important;
        z-index: 1001;
    }
}
// Responsive Stylesheet for 512px
@media screen and (max-width: 512px){
    #page-wrap{
        .container-box{
            .content-box{
                .our-works-article{
                    .gallery{
                        width: 100%;
                        display: flex;
                        .gallery-pictures{
                            width: 200px;
                            height: auto;
                            .art-hover{
                                h4{
                                    font-size: 20px;
                                }
                                p{
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}