$poppins: 'Poppins', sans-serif;
$lalezar: 'Lalezar', cursive;
$darkgrey: #3F3F3F;
$pink: #F0A1B4;
$delima: rgb(236, 84, 119);
$white: #FFFFFF;
$grey: #4C4C4C;
$lightgrey: #6C6C6C;
$whitesmoke: #E5E5E5;
$black-transparent: rgba(0, 0, 0, 0.5);

@mixin box-shadow($border) {
    -ms-box-shadow: $border;
    -webkit-box-shadow: $border;
    -moz-box-shadow: $border;
    -o-box-shadow: $border;
    box-shadow: $border;
}

@mixin transform($transform) {
    -ms-transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin border-radius($border-radius) {
    -ms-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -o-border-radius: $border-radius;
    border-radius: $border-radius;
}

@mixin transition($transition){
    -ms-transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin background($background){
    -ms-background: $background;
    -webkit-background: $background;
    -moz-background: $background;
    -o-background: $background;
    background: $background;
}